@using System.Security.Claims
@model List<CourseModel>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Kurslar</h1>
				</div><!-- /.col -->
				<div class="col-sm-6 d-flex justify-content-end">

					@if (User.IsInRole("Teacher"))
					{
						<a asp-area="Admin" asp-controller="Course" asp-action="Create"
						   class="btn btn-primary btn-sm"> Yeni Kurs </a>
					}

				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">

			<!-- Main row -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<table id="data-table" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Id</th>
										<th>Resim</th>
										<th>Ad</th>
										<th>Öğretmen</th>
										<th>#</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var course in Model)
									{
										<tr>
											<td>@course.Id</td>
											<td>
												<img src="http://localhost:5502/@course.ImageUrl" width="25" />
											</td>
											<td>@course.Name</td>
											<td>@course.TeacherName</td>
											<td>
												@if (User.IsInRole("Student"))
												{
													<a class="btn btn-info btn-sm"
													   asp-area="Admin"
													   asp-controller="Course"
													   asp-action="Update"
													   asp-route-id="@course.Id">Göster</a>
												}
										
												@if (User.IsInRole("Teacher"))
												{
													var id = User.Claims.Where(x => x.Type == ClaimTypes.NameIdentifier).FirstOrDefault().Value;

													@if (id == course.TeacherId.ToString())
													{
														<a class="btn btn-info btn-sm"
														   asp-area="Admin"
														   asp-controller="Course"
														   asp-action="Update"
														   asp-route-id="@course.Id">Düzenle</a>

														<a class="btn btn-info btn-sm"
														   asp-area="Admin"
														   asp-controller="Course"
														   asp-action="Delete"
														   asp-route-id="@course.Id">Sil</a>
													}
												}
										


											</td>
										</tr>
									}
								</tbody>

							</table>
						</div>
						<!-- /.card-body -->
					</div>
				</div>
			</div>
			<!-- /.row (main row) -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Css {
	@await Html.PartialAsync("_DataTablesCssPartial")
}
@section Js {
	@await Html.PartialAsync("_DataTablesJsPartial")
}