@model List<CourseViewModel>
@{
    var courses = Model;
}
  <!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                     data-setbg="/ui/img/courses/course-1.jpg">
                    <div class="categories__text">
                        <h1>@courses[0].Name</h1>
                        <p> @courses[0].Description</p>
                        <p>@courses[0].TeacherName</p>
                            

                        <a href="#">Satın Al</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    @for (int i = 1; i < 5; i++)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                            <div class="categories__item set-bg" data-setbg="/ui/img/courses/course-@(i).jpg">
                                <div class="categories__text">
                                    <h4>@courses[i].Name</h4>
                                    <p> @courses[i].Description</p>
                                    <p> @courses[i].TeacherName</p>
                                    <a href="#">Satın Al</a>
                                </div>
                            </div>
                        </div>
                    }
                   
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->